<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target xsi:type="Console" name="console" />
        <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="console, file" />
    </rules>
</nlog>
